<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body >
        <h1 class="text-center mb-5"><%= title %></h1>


        <% include partials/nav.hbs %>
        <div class="container-fluid border border-success p-4">

      
                         
            
                      
            
            
            
                            <% for(let i =0; i<utilisateurs.length; i++){ %>



                                <div class="card p-3 m-auto text-center" style="width: 18rem;">
                                    <img src="../uploads/<%= utilisateurs[i].photo%>" class="card-img-top " alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title"><%= utilisateurs[i].nom%> <%= utilisateurs[i].prenom%> (<%= utilisateurs[i].genre%>)</h5>
                                    
                                    </div>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">Date de naissance :<br /> <br /><%= utilisateurs[i].dob%></li>
                                      <li class="list-group-item">Domaine :<br /> <br /><%= utilisateurs[i].domaine%></li>
                                      <li class="list-group-item">Ville :<br /> <br /><%= utilisateurs[i].ville%></li>
                                    </ul>
                                   
                                  </div>





                               <!-- <img src='../uploads/<%= utilisateurs[i].photo%>'>-->
                             
                                    <!-- utilisateurs[i].datechoisi%></td>-->
                                
                                  <% } %>
                         
                      
                        </tbody>
                      </table>
            
               
            </div>
</body>
</html>