<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="row">

                <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Genre</th>
                                <th scope="col">Photo</th>
                                <th scope="col">Domaine</th>
                                <th scope="col">Dob</th>
                                <th scope="col">Ville</th>
                                <th scope="col">Date de sélection</th>
                            </tr>
                        </thead>
                        <tbody>
                         
            
                      
            
            
            
                            <% for(let i =0; i<utilisateurs.length; i++){ %>
                                <img src='../uploads/<%= utilisateurs[i].photo%>'>
                                    <tr>
                                    <td><%= utilisateurs[i].nom%></td>
                                    <td><%= utilisateurs[i].prenom%></td>
                                    <td><%= utilisateurs[i].genre%></td>
                                    <td><%= utilisateurs[i].photo%></td>
                                    <td><%= utilisateurs[i].domaine%></td>
                                    <td><%= utilisateurs[i].dob%></td>
                                    <td><%= utilisateurs[i].ville%></td>
                                    <td><%= utilisateurs[i].datechoisi%></td>
                                    
                                    
                                   
                                   
                                </tr>
                                  <% } %>
                         
                      
                        </tbody>
                      </table>
            
               
            </div>
</body>
</html>